{% extends 'base.html' %}
{% block title %} Linux Page {% endblock %}
{% block page_title %} My Linux Lessons {% endblock %}

{% block content %}
<div class="jumbotron">
        <h1>Linux Lessons</h1>
        <p class="lead">Rexford Nkansah is a super good-looking guy, a senior web developer and the best thing to come out of the Ghana since the '66$
        <p><a class="btn btn-lg btn-warning" href="#" role="button">Email him today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Projects</h4>
          <p>See all the awesome projects Rexford has worked on. He's really fantastic</p>

          <h4>Places</h4>
          <p>Rexford's been to lots of different fun places. Find out more about them here!</p>
        </div>

        <div class="col-lg-6">
          <h4>People</h4>
          <p>People love Sam! He's funny and kind, they can't get enough of him.</p>

          <h4>Something else</h4>
          <p>There's a whole bunch of other things he can't think about! Check them out here.</p>
        </div>
      </div>
{% endblock %}
